doctype html
html
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport",content="width=device-width, initial-scale=1")
		meta(name="description",content="")
		meta(name="author",content="")
		title= title
		link(rel="stylesheet",href="/css/bootstrap.min.css")
		link(rel="stylesheet",href="/css/font-awesome.min.css")
		block styles
	body(data-spy="scroll",data-target=".scrollspy")
		div.container
			block body

		script(src="/js/jquery.min.js")
		script(src="/js/bootstrap.min.js")
		block scripts