extends _layout
block styles
    link(rel="stylesheet",href="/css/pug.css")
block body
    div(class="col-md-6 col-md-offset-3 text-center")
        h1.text-center Inovbox Wifi
        h4.text-center Enter your WPA key
        form(name="form-wifi" method="post" action="sendWifi")
            label
                input(type="text" name="ssid-text" class="form-control text-center" value=`${ssid}` disabled)
                input(type="hidden" name="ssid" value=`${ssid}`)
            br
            label WPA key
                input(type="password" name="wpa" class="form-control")
            br
            input(type="submit" class="btn btn-default" value="Submit")
block scripts
    script(src="/js/pug.js")